@font-face {
	font-family: "Discord";
	src: url("fonts/discord.woff2") format("woff2"),
		url("fonts/discord.woff") format("woff"),
		url("fonts/discord.otf") format("otf");
	font-style: normal;
}

@font-face {
	font-family: Whitney;
	font-weight: 300;
	src: url("./fonts/whitney300.woff") format("woff");
}
@font-face {
	font-family: Whitney;
	font-weight: 400;
	src: url("./fonts/whitney400.woff") format("woff");
}
@font-face {
	font-family: Whitney;
	font-weight: 500;
	src: url("./fonts/whitney500.woff") format("woff");
}
@font-face {
	font-family: Whitney;
	font-weight: 600;
	src: url("./fonts/whitney600.woff") format("woff");
}
@font-face {
	font-family: Whitney;
	font-weight: 700;
	src: url("./fonts/whitney700.woff") format("woff");
}

html,
body {
	font-family: Whitney;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #36393f;
}

body {
	color: #dcddde;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
}

p {
	text-align: justify;
	padding-left: 15%;
	padding-right: 15%;
}
@media (max-width: 1200px) {
	p {
		padding-left: 0;
		padding-right: 0;
	}
}

a {
	color: #00b0f4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

a:visited {
	color: #00b0f4;
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Discord;
	font-weight: 100;
}
